# GA4 is now handled by GTM (see NEXT_PUBLIC_GTM_ID below)
# NEXT_PUBLIC_GA_ID=G-XXXXXXXX
GMAIL_USER=XX@domain.com
GMAIL_CLIENT_ID=xxxx.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=xxxx
GMAIL_REFRESH_TOKEN=xxxx
RECAPTCHA_SECRET_KEY=XXXX
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=XXXX
NEXT_PUBLIC_GTM_ID=GTM-T69XG2RH
